doctype html
html
    head
        block head
    body
        .container
            //Menu
            include _menu    

            //Content
            block content
                h1 Placeholder
            //Footer
            //- include _footer            
        block script